<section class="jumbotron container artist-show headline">
  <h1> <%= @artist.name %> </h1>
</section>

<div class="container section-container">
  <section class="clearfix">
    <h2>Albums</h2>
    <% @albums.each do |album| %>
      <div class="preview">
        <%= link_to image_tag(album.image_url), album %>
        <h3 class="album-title"> <%= link_to album.title, album %> </h3>
        <h3 class="cost">$<%= album.formatted_price %> </h3>
        <%= button_to "Add to cart", carts_path(album_id: album.id)%>
      </div>
    <% end %>
  </section>
</div>
