<section class="container clearfix">
  <aside class="user-sidebar">
    <ul>
      <% if current_admin? %>
        <li><%= link_to "Account Details", admin_dashboard_path %></li>
        <li><%= link_to "Edit Account", edit_admin_info_path %></li>
        <li><%= link_to "Create New Album", new_admin_album_path %></li>
        <li><%= link_to "View Albums", admin_albums_path %></li>
      <% else %>
        <li><%= link_to "Account Details", dashboard_path %></li>
        <li><%= link_to "Update Account", "#" %><small> (Soon...)</small></li>
        <li><%= link_to "Past Orders", orders_path %></li>
        <li><%= link_to "My Albums", "#" %><small> (Soon...)</small></li>
        <li><%= link_to "My Reviews", "#" %><small> (Soon...)</small></li>
      <% end %>
    </ul>
  </aside>

  <section class="user">
    <h1><%= dashboard_name %></h1>

    <ul>
      <li>
        Username: <%= current_user.username %>
      </li>
      <li>
        Email: <%= current_user.email %>
      </li>
    </ul>
  </section>
</section>
