<section class="container section-container order-section">
  <h1>Confirm Your Order</h1>

  <table>
    <thead>
      <tr>
        <th class="ljust">Album</th>
        <th>Price</th>
        <th>qty</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @order_albums.each do |order_album| %>
        <tr>
          <td class="ljust"><%= order_album.album.title %></td>
          <td>$<%= order_album.album.formatted_price %></td>
          <td><%= order_album.quantity %></td>
          <td>$<%= order_album.formatted_sub_total %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr colspan="4">
        <th colspan="4">Total</th>
      </tr>
      <tr>
        <td colspan="4">$<%= @order.formatted_total %></td>
      </tr>
    </tfoot>
  </table>

  <%= form_tag order_path, id: 'stripeForm' do %>
    <%= hidden_field_tag "total", @order.total %>
    <%= hidden_field_tag "stripeToken", "" %>
    <%= hidden_field_tag "stripeEmail", "" %>
    <%= hidden_field_tag "stripeAmount", "" %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <%= button_to "Confirm Order", order_path(:order => {user_id: current_user.id, total: @order.total}), { id: "checkout" } %>
  <% end %>

  <script>
    var handler = StripeCheckout.configure({
      key: "<%= @publishable_key %>",
      image: '',
      locale: 'auto',
      token: function(token, args) {
        $('#stripeToken').val(token.id)
        $('#stripeEmail').val(token.email)
        $('#stripeAmount').val(<%= @order.total %>);
        $('#stripeForm').submit();
      }
    });

    $('#checkout').on('click', function(e) {
      handler.open({
        name: 'Not Napster',
        description: 'Albums',
        amount: <%= @order.total %>
      });
      e.preventDefault();
    });

    $(window).on('popstate', function() {
      handler.close();
    });
  </script>
</section>
