<section class="featured-album">

</section>

<div class="container section-container genres-container">
  <section class="genres">
    <h2>Genres</h2>
    <ul class="genres">
      <% @genres.each do |genre| %>
        <li><%= link_to genre.name, genre %></li>
      <% end %>
    </ul>
  </section>
</div>

<div class="container section-container">
  <section class="clearfix">
    <h2>All</h2>
    <% @albums.each do |album| %>
      <div class="preview">
        <%= image_tag album.image_url %>
        <h3 class="album-title"><%= link_to album.title, album %></h3>
        <h3 class="artist"><%= link_to album.artist.name, album.artist %></h3>
        <h3 class="cost">$<%= album.formatted_price %></h3>
        <%= button_to "Add to cart", carts_path(album_id: album.id)%>
      </div>
    <% end %>
  </section>
</div>
