<section class="container section-container album">
  <header class="clearfix">
    <%= image_tag @album.image_url %>
    <aside>
      <h1><%= @album.title %></h1>
      <h2><%= link_to "by #{@album.artist.name}", @album.artist %></h2>
    </aside>
  </header>

  <footer>
    <h3>$<%= @album.formatted_price %></h3>
    <% if @album.expired? %>
      <p>Album is no longer available.</p>
    <% else %>
      <%= button_to "Add to cart", carts_path(album_id: @album.id)%>
    <% end %>
    <h2><%="Album Comments" %></h2>
    <%= form_for([@album, @review]) do |f| %>
        <%= f.label :comment %>
        <%= f.text_area :comment %>
        <%= f.submit %>
    <% end %>
    <% @album.reviews.each do |review| %>
      <h4>* <%= review.comment %></h4>
    <% end %>
  </footer>
</section>
