<header class="site-header clearfix container">
  <%= link_to "Not Napster", root_path, class: "site-logo" %>

  <nav class="site-nav">
    <ul>
      <li><%= username(current_user) %></li>
      <li><%= link_to "Artists", artists_path %></li>
      <li><%= link_to "Albums", albums_path %></li>
      <!-- use path helper & glyphcon? -->
      <li><%= link_to "Cart", user_cart_path %></li>
      <li><%= login_logout_link(current_user) %></li>
    </ul>
  </nav>
</header>
